.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-input {
  width: 2.5rem;
  height:2.5rem;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.otp-input:focus {
  border-color: #007bff;
  outline: none;
}